<mat-card class="des-mat-card mat-elevation-z8 ">
  <mat-card-title-group>
    <div style="width:100%">
      <div class="card-title">
        Current / Active Examinations</div>
    </div>
  </mat-card-title-group>
</mat-card>

<mat-card class="des-mat-card mat-elevation-z2">
  
    <div class="row">
      <div class="col col-md-3 col-sm-1" *ngFor="let exam of Exams">
        <mat-card class="mat-elevation-z8 des-mat-card">
          <h5>Exam Code: <b>{{exam.examcode}}</b></h5>
          <h6>Total Copies: {{exam.numberofcopies}}</h6>

          <div class="dashboard-card">
            Assigned for Scanning
            <span class="pull-right strong">{{checkNull(exam.totalcopiesassignedforscanning)}}</span>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                aria-valuemax="15"
                [ngStyle]="{'width':getWidth(exam.totalcopiesassignedforscanning,exam.numberofcopies)}">
                {{( checkNull(exam.totalcopiesassignedforscanning) * 100 / checkNull(exam.numberofcopies)  ) | number : '.2-2'}}%
              </div>
            </div>
          </div>
          <div class="dashboard-card">
            Scanned
            <span class="pull-right strong">{{exam.totalscannedcopies }}</span>
            <div class="progress">
              <div class="progress-bar  bg-info" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                aria-valuemax="15" [ngStyle]="{'width':getWidth(exam.totalscannedcopies,exam.numberofcopies)}">
                {{( checkNull(exam.totalscannedcopies) * 100 / checkNull(exam.numberofcopies)  ) | number : '.2-2'}}%
              </div>
            </div>
          </div>
          <div class="dashboard-card">
            Assigned for Evaluation
            <span
              class="pull-right strong">{{(exam.totalcopiesassignedforevaluation?exam.totalcopiesassignedforevaluation:0)}}</span>
            <div class="progress">
              <div class="progress-bar  bg-secondary" role="progressbar" aria-valuenow="15" aria-valuemin="0"
                aria-valuemax="100"
                [ngStyle]="{'width':getWidth((exam.totalcopiesassignedforevaluation?exam.totalcopiesassignedforevaluation:0),exam.numberofcopies)}">
                {{( (exam.totalcopiesassignedforevaluation?exam.totalcopiesassignedforevaluation:0)* 100 / exam.numberofcopies  ) | number : '.2-2'}}%
              </div>
            </div>
          </div>
          <div class="dashboard-card">
            Evaluated
            <span class="pull-right strong">{{(exam.totalevaluatedcopies?exam.totalevaluatedcopies:0)}}</span>
            <div class="progress">
              <div class="progress-bar  bg-danger" role="progressbar" aria-valuenow="8" aria-valuemin="0"
                aria-valuemax="100"
                [ngStyle]="{'width':getWidth((exam.totalevaluatedcopies?exam.totalevaluatedcopies:0),exam.numberofcopies)}">
                {{((exam.totalevaluatedcopies?exam.totalevaluatedcopies:0) * 100 / exam.numberofcopies  ) | number : '.2-2'}}%
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    
  </div>
</mat-card>