
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Main Menu
                    </h4>
                </div>
                <div id="collapse1">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a [routerLink]="['./subject']">
                                Manage Subjects</a>
                        </li>
                        <li class="list-group-item">
                            <a [routerLink]="['./exams']">Manage Exams</a>
                        </li>
                        <li class="list-group-item">
                            Reports</li>
                    </ul>
                </div>
            </div>
        </div>
