<!--<div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        
                    </h4>
                </div>
                <div id="collapse1">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a [routerLink]="['./subject']">
                                Manage Subjects</a>
                        </li>
                        <li class="list-group-item">
                            <a [routerLink]="['./exams']">Manage Exams</a>
                        </li>
                        <li class="list-group-item">
                            Reports</li>
                    </ul>
                </div>
            </div>
        </div>
</div>
-->
<div class="col-sm-12 col-md-12 sidebar" style="padding-left:0px">
    <ul class="nav nav-sidebar list-group">
        <li class="list-group-item" *ngFor="let menu of menus"  (click)="listClick($event, menu)"   [ngClass]="{'active-class': selectedMenu == menu}">
                <a  [routerLink]="[menu.link]">{{menu.label}}</a>
                <span style="float:right" [style.color]="selectedMenu == menu ? '#448fe0' : '#fff'"> <i class="fa fa-lg fa-angle-right"></i> </span>
        </li>
    </ul>
</div>
