<mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChanged($event)">
    <mat-tab label="Approve Users">
        <mat-card class="des-mat-card mat-elevation-z8 des-mat-card-title">




            <p style="text-align:left;">
                Approve Evaluators
                <span style="float:right;margin-top:-13px; ">
                    <button class="btn btn-success" (click)="saveUsers()">Save</button>
                </span>
            </p>


        </mat-card>

        <mat-card class="des-mat-card mat-elevation-z8">
            <mat-card-content>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr class="table-row-header">

                            <th>Approve</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email ID</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of Users; let i = index">
                            <td>

                                <!-- <input type="checkbox" name="isactive" [checked]="user.isactive=='Y'" (change)="checkChanged($event, i)" /> -->
                                <mat-checkbox type="checkbox" name="isactive" [checked]="user.isactive=='Y'"
                                    (change)="checkChanged($event, i)">
                                </mat-checkbox>
                                <!-- <input class="form-control" class="des-checkbox" type="checkbox" id="{{user.isactive}}" name="isActive" (change)="changeCheckbox(i)" [checked]="user.isactive == 'Y'"> -->
                            </td>
                            <td>
                                {{user.name}}
                            </td>
                            <td>
                                {{user.username}}
                            </td>
                            <td>{{user.emailid}}</td>

                        </tr>
                    </tbody>
                </table>
            </mat-card-content>

        </mat-card>
    </mat-tab>
    <mat-tab label="Admin Users">

        <mat-card class="des-mat-card mat-elevation-z8 ">
            <mat-card-title-group>
                <div style="width:100%">
                    <div class="card-title">
                        Manage Administrators</div>
                    <div style="float:right">
                        <button class="btn btn-success" (click)="addNewUser()">Add New User</button>
                    </div>
                </div>
            </mat-card-title-group>
        </mat-card>
        <mat-card class="des-mat-card mat-elevation-z8">
            <mat-card-content>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr class="table-row-header">
                            <th>Name</th>
                            <th>Username</th>
                            <th>Role</th>
                            <th>Email</th>
                            <th>Is Active</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of AdminUsers">

                            <td>{{user.name}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.role}}</td>
                            <td>{{user.emailid}}</td>
                            <td>{{user.isactive}}</td>
                            <td style="text-align:center">
                                <!-- <a [routerLink]="['../edit-subject', 'EDIT', subject.subjectcode]"> -->
                                <i class="fa fa-edit icon-green" (click)="getUserDetails(user.username, 'EDIT')"></i>
                                <!-- </a> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>

        <mat-card class="des-mat-card mat-elevation-z8" *ngIf="(!AdminUsers || AdminUsers.length == 0)" flex>
            <div class="center-container">
                <h3>No Admin Users are added. Please click "Add Admin Users" to add new users.</h3>
            </div>
        </mat-card>

    </mat-tab>

    <mat-tab label="User Details">
        <div style="max-width: 70%;margin:auto;background-colo">
            <mat-card class="des-mat-card mat-elevation-z8">

                <form [formGroup]="userForm" (ngSubmit)="saveUser()" class="form-login">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div>
                                <mat-form-field>
                                    <input type="text" matInput formControlName="username" [readonly]="disableUsername"
                                        required placeholder="User Name" />
                                </mat-form-field>
                                <!-- <label for="name">Username</label>
                                <input type="text" formControlName="username" class="form-control"
                                    [readonly]="disableUsername" maxlength="10"
                                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">Username is required</div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <mat-form-field>
                                    <input type="text" matInput formControlName="name" required placeholder="Name" />
                                </mat-form-field>

                                <!-- <label for="name">Name</label>
                                <input type="input" formControlName="name" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" maxlength="50" />
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Name is required</div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <mat-form-field>
                                    <input type="text" matInput formControlName="emailid" required
                                        placeholder="User Email" />
                                </mat-form-field>

                                <!-- <label for="name">Email Id</label>
                                <input type="input" formControlName="emailid" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }" maxlength="50" />
                                <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback">
                                    <div *ngIf="f.emailid.errors.required">Email Id is required</div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="form-group">

                                <mat-form-field>
                                    <mat-label>Role</mat-label>
                                    <mat-select matNativeControl required formControlName="role">
                                        <mat-option value="EVALUATOR">Evaluator</mat-option>
                                        <mat-option value="SCANNER">Scanner</mat-option>
                                        <mat-option value="ADMIN">Admin</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!-- <input type="text" formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }"
                          /> -->
                                <!-- <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                                    <div *ngIf="f.role.errors.required">Role</div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <input type="text" matInput formControlName="pwd" required placeholder="Password" />
                                </mat-form-field>

                                <!-- <label for="isactive">Password</label>
                                <input matInput type="password" formControlName="pwd" /> -->
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>Is Active</mat-label>
                                    <mat-select matNativeControl required formControlName="isactive">
                                        <mat-option value="Y">Yes</mat-option>
                                        <mat-option value="N">No</mat-option>

                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <input type="hidden" formControlName="editmode" [(ngModel)]="mode" />

                    </div>

                    <div class="form-group" style="text-align:right">
                        <span>
                            <button [disabled]="loading" class="btn btn-success">Save User</button>
                        </span>
                        <img *ngIf="loading"
                            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </form>
            </mat-card>
        </div>
    </mat-tab>

</mat-tab-group>