<!--<div class="container-fluid" style="padding:20px">
    <div class="float-right">
        <button class="btn btn-success">Check Random Copy</button>
    </div>
</div>
-->


<div class="container-fluid" style="padding:20px;">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-5 float-left p-2 ">
            <span>
                <h4>Pending for Evaluation : {{pendingForEvaluation.length}}</h4>
            </span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-5 float-left p-2">
            <span>
                <h4> Evaluated : {{evaluatedCopies.length}}</h4>
            </span>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-5 float-left p-2 border-right shadow p-3 mb-5 rounded bg-white">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let answer of pendingForEvaluation">
                        <a [routerLink]="['../answer', answer.answercode, examCode]">{{answer.answercode}}</a>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-5 float-left p-2 border-right shadow p-3 mb-5 rounded bg-white">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let answer of evaluatedCopies">
                       {{answer.answercode}}
                </div>
            </div>
        </div>
    </div>
</div>