<app-header></app-header>
<alert></alert>
<!-- <div class="container-fluid">
    <a [routerLink]="['/scanner/dashboard']">Dashboard</a>
</div> -->

<div class="row">

    <div class="col-sm-6 col-lg-4 col-md-4">
        <mat-card class="des-mat-card">
            <mat-card-title>
                Examination Summary
            </mat-card-title>

            <table class="table table-bordered border border-primary" style="width:100%;margin-top:20px;">
                <tr>
                    <td width="40%">Exam Code</td>
                    <td width="60%">
                        <strong>{{examcode}}</strong>
                    </td>
                </tr>
                <tr>
                    <td width="40%">Assigned Copies</td>
                    <td width="60%">
                        <strong>{{(scannerSummaryData && scannerSummaryData.assignedcopies ? scannerSummaryData.assignedcopies :"")}}
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>Scanned Copies</td>
                    <td>
                        <strong>{{(scannerSummaryData && scannerSummaryData.scannedcopies ? scannerSummaryData.scannedcopies : "")}}</strong>
                    </td>
                </tr>
                <tr>
                    <td>Assigned Date</td>
                    <td>
                        <strong>{{(scannerSummaryData && scannerSummaryData.assigneddate ? (scannerSummaryData.assigneddate | date:
                            'mediumDate') : "")}}
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>Target Date</td>
                    <td>
                        <strong>{{(scannerSummaryData && scannerSummaryData.targetdate ? scannerSummaryData.targetdate : "")}}</strong>
                    </td>
                </tr>
            </table>
        </mat-card>
        <mat-card style="margin:7px">


            <select *ngIf="!bWASM" id="sources"></select>
            <br/>
            <!-- <select id="sources"></select> -->
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput type="number" class="form-control" [(ngModel)]="numberofsupplimentaries" placeholder="# of supplementaries"
                            />
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput type="input" class="form-control" [(ngModel)]="rollnumber" placeholder="Roll Number" />
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td style="width:70%">

                        <span>
                            <button class="btn btn-success btn-circle" (click)="acquireImage()" [disabled]="disableAllButtons" [ngClass]="{'btn-danger': isScanning, 'btn-success' : !isScanning }">
                                <strong>SCAN</strong>
                                <br>
                                <i class="fa fa-4x fa-print"></i>
                            </button>
                            &nbsp;&nbsp;
                            <button class="btn btn-warning btn-circle" (click)="openImage()" [disabled]="disableAllButtons" [ngClass]="{'btn-danger': isScanning, 'btn-warn' : !isScanning }">
                                <strong>VIRTUAL SCAN</strong>
                                <br>
                                <i class="fa fa-4x fa-print"></i>
                            </button>
                            &nbsp;&nbsp;
                            <button class="btn btn-success btn-circle" (click)="uploadDocument()" [ngClass]="{'btn-success': isScanning, 'btn-danger' : !isScanning }">
                                <strong>SUBMIT</strong>
                                <br>
                                <i class="fa fa-4x fa-print"></i>
                            </button>
                        </span>
                    </td>
                    <td style="text-align:right;width:20%">
                        <div style="float:right">
                            <a class="btn btn-primary" [routerLink]="['/scanner/dashboard']">Dashboard</a>
                        </div>
                    </td>
                </tr>
            </table>
        </mat-card>
    </div>


    <div class="col-sm-6 col-lg-8 col-md-8" [hidden]="(scannerSummaryData && scannerSummaryData.assignedcopies && scannerSummaryData.assignedcopies == scannerSummaryData.scannedcopies)">
        <div style="margin:5px ; ">
            <mat-card>
                <div id="dwtcontrolContainer" style="height:70vh; width:100%; border: 1px solid gray">&nbsp;</div>
            </mat-card>
        </div>
    </div>
    <div class="col-sm-6 col-lg-9 col-md-9 card" style="margin-top:20px ; display: table; height: 200px; overflow: hidden;" [hidden]="( !scannerSummaryData || !scannerSummaryData.assignedcopies || scannerSummaryData.assignedcopies != scannerSummaryData.scannedcopies)">
        <div style="display: table-cell; vertical-align: middle;">
            <div style="text-align:center">
                <h4>All Documents for this Exam assigned to you are already scanned.
                    <p>Go back to
                        <a [routerLink]="['/scanner/dashboard']">Dashboard</a>
                    </p>
                </h4>

            </div>
        </div>
    </div>




</div>