
<div class="float-left">Total Marks : {{totalMarks}}</div>
<br>
<div style="overflow-y:auto;max-height:80vh">
    
    
    <div *ngFor="let question of questionData" style="border:2px solid darkgray;">

        <div>
            <table class="table-bordered" style="width:100%;">
                <tr>
                    <th  class="text-center" width="25%">Question #</th>
                    <th  class="text-center"width="25%">Total Marks</th>
                    <th class="text-center" width="25%">Marks Obtained</th>
                    <th class="text-center" width="25%">View Question</th>
                </tr>
                <tr>
                    <td class="text-center" >{{question.questionno}}</td>
                    <td class="text-center">{{question.totalmarks}}</td>
                    <td class="text-center">
                        <input type="number" class="form-control" [(ngModel)]="question.marksobtained" (input)="setTotalMarks()" [ngClass]="{ 'is-green':question.marksobtained > 0,'is-red':question.marksobtained <= 0  }">
                    </td>
                    <td class="text-center">View</td>
                </tr>
            </table>
            <table class="table-bordered" style="background-color: #e2e2e2; width:100%"  *ngIf="(question.sections && question.sections.length > 0)">
                <tr>
                    <th class="sub-header" width="25%">Sub Question #</th>
                    <th class="sub-header" width="25%">Sub Question Marks</th>
                    <th class="sub-header" width="25%">Marks Obtained</th>
                    <th class="sub-header" width="25%"></th>

                </tr>
                <tr *ngFor="let subquestion of question.sections">
                    <td class="text-center">{{subquestion.subquestionid}}</td>
                    <td  class="text-center">{{subquestion.subquestionmarks}}</td>
                    <td  class="text-center">
                        <input type="number" class="form-control" [(ngModel)]="subquestion.marksobtained" (input)="setTotalMarks()" [ngClass]="{ 'is-green':subquestion.marksobtained > 0,'is-red':subquestion.marksobtained <= 0  }">
                    </td>
                    <td class="text-center">View</td>
                </tr>
            </table>
        </div>

    </div>

<pre>
    <pre>{{questionData | json}}</pre>
</pre>

</div>