<div class="container-fluid">
    <h4>Exam Questions</h4>
    <table class="table table table-hover table-striped">
        <thead>
            <tr>
                <th>Question #</th>
                <th>Total Marks</th>
                <th>Question Type</th>
                <th>Edit</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let examQuestion of examQuestions">
                <td>{{examQuestion.questionno}}</td>
                <td>{{examQuestion.totalmarks}}</td>
                <td>{{examQuestion.questiontype}}</td>

                <td> <a [routerLink]="['../edit-exam', 'EDIT', examQuestion.questionno]">View/Edit Question</a></td>




            </tr>
        </tbody>
    </table>
</div>