<alert></alert>
<mat-card class="des-mat-card">
  <mat-card-title-group>

    <mat-card-subtitle style="margin-bottom:2px" class="mat-h3">
      <div fxLayout="row" fxLayoutGap="100px">
        <span class="mat-h1">
          Assign To {{(userType == "SCANNER"? "Scanner" : "Evaluator")}}
        </span>
      </div>
    </mat-card-subtitle>
    <div style="float:right">
      Total Copies :
      <strong>{{examFormValues.numberofcopies}}</strong>
      | Assigned For Scanning :
      <strong>{{ (examFormValues.totalcopiesassignedforscanning) }} </strong>
        | Scanned :
        <strong>{{examFormValues.totalscannedcopies}}</strong>
        | Assigned for Evaluation :
        <strong>{{examFormValues.totalcopiesassignedforevaluation}}</strong>
        | Evaluated :
        <strong>{{(examFormValues.totalevaluatedcopies ? examFormValues.totalevaluatedcopies : 0)}}</strong>
        | To be assigned :
        <strong>{{ (examFormValues.totalscannedcopies - examFormValues.totalcopiesassignedforevaluation)}}</strong>
    </div>

  </mat-card-title-group>
</mat-card>




<mat-card class="des-mat-card mat-elevation-z8">
  <div class="modal-body">
    <alert></alert>


    <div *ngIf="userType == 'SCANNER'">
      <table class="table table table-hover table-striped">
        <thead>
          <tr>
            <th>Scanning Office</th>
            <th>Contact Person</th>
            <th>Phone</th>
            <th>Email Id</th>
            <th>Assigned For Scanning</th>
            <th>Copies Scanned</th>
            <th>Add For Scanning</th>

            <th>Target Date</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of Users">
            <td>{{user.scanningoffice.officename}}</td>
            <td>{{user.scanningoffice.contactperson}}</td>
            <td>{{user.scanningoffice.phone}}</td>
            <td>{{user.emailid}}</td>

            <td>
              {{(user.assignedcopies?user.assignedcopies:0)}}
            </td>
            <td>{{user.scannedcopies}}</td>
            <td>
              <app-inline-edit [(ngModel)]="user.additionalcopies" type="text"> </app-inline-edit>
            </td>
            <td>

              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dpresultdate="ngbDatepicker" [readonly]="true" [(ngModel)]="user.targetdate"
                />

                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dpresultdate.toggle()" type="button"></button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="userType == 'EVALUATOR'">
      <table class="table table table-hover table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email Id</th>
            <th>Phone</th>
            <th>Copies Assigned</th>
            <th>Add Copies</th>
            <th>Copies Evaluated</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of Users">

            <td>{{user.name}}</td>
            <td>{{user.emailid}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.assignedcopies}}</td>
            <td>
              <app-inline-edit [(ngModel)]="user.additionalcopies"> </app-inline-edit>
            </td>
            <td>{{user.evaluatedcopies}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</mat-card>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="clearData()">Clear Data</button>
  <button type="button" class="btn btn-success" (click)="save()">Save</button>
  <button type="button" class="btn btn-danger" (click)="cancel()">Close</button>
</div>