
  <div class="row">
  <div class="col-sm-6 col-lg-2 col-md-3">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            Main Menu
          </h4>
        </div>
        <div id="collapse1">
          <ul class="list-group">
            <li class="list-group-item">
              <a [routerLink]="['./subject']">
                Manage Subjects</a></li>
            <li class="list-group-item">
              <a [routerLink]="['./exams']">Manage Exams</a></li>
            <li class="list-group-item">
               Reports</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-md-9 col-lg-9">
      <router-outlet></router-outlet>
  </div>
</div>


