<div class="container-fluid">
  <div class="col col-md-3">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" [routerLink]="['./subject']">
              Subject Master</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge"></span> Create New Exam</li>
            <li class="list-group-item">
              <span class="badge">17</span> Manage Users</li>
            <li class="list-group-item">
              <span class="badge">3</span> Reports</li>
          </ul>
        </div>
      </div>


    </div>
  </div>
  <div class="col col-md-9 col-lg-9">
      <router-outlet></router-outlet>
  </div>
</div>

