<alert></alert>
<alert></alert>
<!--<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="/assets/images/logo.png" alt="Logo" style="width:40px;">
    </a>
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Digital Evaluation System</a>
    </div>
    <ul class="nav navbar-nav navbar-right ml-auto">

        <li class="nav-item"  [hidden]="!isLoggedIn">
            <a class="nav-link" href="" routerLink="/login">
                <span></span>Home
                <i class="fa fa-home"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" (click)="logout()"   [hidden]="!isLoggedIn">
                <span></span> Sign Out
                <i class="fa fa-sign-in"></i>
            </a>
        </li>
    </ul>
</nav>
-->

<!--<mat-toolbar color="primary">
    <span (click)="inputSideNav.toggle()">
        <i class="fa fa-bars"></i>
    </span>
    <span class="gap">
       
    </span>
    <span class="filler"></span>
    <span style="font-weight:normal; font-size:14px;">
        Logged in as <strong>{{currUser.username}}</strong> &nbsp;&nbsp;&nbsp;
    </span>
    <span>
        <i class="fa fa-bars" (click)="sidenav.toggle()"></i>
        <a (click)="logout()" class="gap">

            <i class="fa fa-lg fa-sign-out gap"></i>
        </a>
    </span>

</mat-toolbar> -->

<mat-toolbar>

    <span class="example-icon" aria-label="Example icon-button with menu icon">
      <img src="../../assets/des-logo.png" class="logo" alt="des-logo"/>
    </span>
  
    <span class="nav-list">
  
      <span>
        <a routerLink="/dashboard" routerLinkActive="active" class="btn">
          <img src="../../assets/Frame 3.png" alt=""/> Dashboard
        </a>
      </span>
  

      <span>
        <a routerLink="/paper-allocation" routerLinkActive="active" class="btn">
          <img src="../../assets/Frame 4.png" alt=""/> Paper Allocation
        </a>
      </span>
  
      <span>
        <a routerLink="/manage-users" routerLinkActive="active" class="btn">
          <img src="../../assets/Frame 5.png" alt=""/> Manage Users
        </a>
      </span>
  
    </span>
  
    <span>
      <button
        class="example-icon notification-btn"
        aria-label="Example icon-button with heart icon">
        <img
          src="../../assets/Frame 6.png"
          alt="notification"
          class="notification-img"/>
      </button>
  
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"  (click)="logout()"   [hidden]="!isLoggedIn">
        <i class="fa fa-share" aria-hidden="true"></i>
      </button>