<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let dashboard of dashboardData" style="margin:10px ; ">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="fa fa-book"></i>

                </div>

                <p class="card-category">{{dashboard.examname}}</p>
                

            </div>
            <div class="card-footer">
                <div class="stats">
                    <div>
                        Assigned Copies : {{getAssignedCopies(dashboard.evaluationassignment).assignedcopies}}
                        <br/> Evaluated Copies : {{(getAssignedCopies(dashboard.evaluationassignment).evaluatedcopies ? getAssignedCopies(dashboard.evaluationassignment).evaluatedcopies
                        : 0)}}
                    </div>
                </div>
                <div class="stats">
                    <a [routerLink]="['../marking', dashboard.examcode]" class="btn btn-success">Evaluate</a>

                </div>

            </div>
        </div>
    </div>
</div>