<alert></alert>
<mat-card class="des-mat-card mat-elevation-z8">
    <form [formGroup]="userForm" (ngSubmit)="change()" class="form-login">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="pwd">Current Password</label>
                    <input type="text" formControlName="current_pwd" class="form-control" />
                    <div *ngIf="submitted && f.current_pwd.errors" class="error">
                            <div *ngIf="f.current_pwd.errors.required">Current Password is required</div>
                        </div>
                </div>
            </div>
        </div>
        <div class=row>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="confirm_pwd">New Password</label>
                    <input type="text" formControlName="pwd" class="form-control" />
                    <div *ngIf="submitted && f.pwd.errors" class="error">
                            <div *ngIf="f.pwd.errors.required">New Password is required</div>
                        </div>
                </div>
            </div>
        </div>
        <div class=row>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="confirm_pwd">Confirm New Password</label>
                    <input type="text" formControlName="confirm_pwd" class="form-control" />
                    <div *ngIf="submitted && f.confirm_pwd.errors" class="error">
                        <div *ngIf="f.confirm_pwd.errors.required">Confirm Password is required</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12">
                <span>
                    <button [disabled]="loading" class="btn btn-success">Change Password</button>
                </span>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
            </div>
        </div>
    </form>
</mat-card>