<alert></alert>
<mat-card class="des-mat-card mat-elevation-z8">
    <mat-card-title-group>
        <div style="width:100%">
            <div class="card-title">
                Change Password</div>

            <div style="float:right">
                <button [disabled]="loading" class="btn btn-success" (click)= "changePasswordForm.ngSubmit.emit()">Save User</button>
            </div>
        </div>
    </mat-card-title-group>
</mat-card>
<mat-card class="des-mat-card mat-elevation-z8">
    
   
    <form [formGroup]="userForm" (ngSubmit)="change()" class="form-login" #changePasswordForm="ngForm">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <mat-form-field>
                        <input type="password" matInput formControlName="current_pwd" maxlength="10" required placeholder="Current Password"/>
                    </mat-form-field>
                    <!-- <label for="pwd">Current Password</label>
                    <input type="text" formControlName="current_pwd" class="form-control" />
                    <div *ngIf="submitted && f.current_pwd.errors" class="error">
                            <div *ngIf="f.current_pwd.errors.required">Current Password is required</div>
                        </div> -->
                </div>
            </div>
        </div>
        <div class=row>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <mat-form-field>
                        <input type="text" matInput formControlName="pwd" maxlength="10" required placeholder="New Password"/>
                    </mat-form-field>
                    <!-- <label for="confirm_pwd">New Password</label>
                    <input type="text" formControlName="pwd" class="form-control" />
                    <div *ngIf="submitted && f.pwd.errors" class="error">
                            <div *ngIf="f.pwd.errors.required">New Password is required</div>
                        </div> -->
                </div>
            </div>
        </div>
        <div class=row>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <mat-form-field>
                        <input type="text" matInput formControlName="confirm_pwd" maxlength="10" required placeholder="Confirm New Password"/>
                    </mat-form-field>
                    <!-- <label for="confirm_pwd">Confirm New Password</label>
                    <input type="text" formControlName="confirm_pwd" class="form-control" />
                    <div *ngIf="submitted && f.confirm_pwd.errors" class="error">
                        <div *ngIf="f.confirm_pwd.errors.required">Confirm Password is required</div>
                    </div> -->
                </div>
            </div>
        </div>

      
    </form>
</mat-card>