<!--
<mat-drawer-container>
  <mat-drawer #drawer opened>
      
    <app-admin-menu></app-admin-menu>
  </mat-drawer>

  <mat-drawer-content>
    <alert></alert>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
-->
<!--
<mat-sidenav-container class = "tp-container">
    <mat-sidenav mode = "side" opened>
       <section class = "tp-section">
          <span>File</span>
       </section>
       <section class = "tp-section">
          <span>Edit</span>
       </section>
    </mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
 </mat-sidenav-container>
-->
<app-header></app-header>
<!--<button mat-button (click)="sidenav.toggle()">Toggle</button>-->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened style="width: 200px;" [fixedInViewport]="true" [fixedTopGap]="70">
    <app-admin-menu></app-admin-menu>
  </mat-sidenav>

  <mat-sidenav-content [formGroup]="options">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>