<app-header></app-header>



<div class="row container-fluid">
        <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let dashboard of dashboardData">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-book"></i>
    
                    </div>
    
                    <p class="card-category">&nbsp;</p>
                    <h3 class="card-title">{{dashboard.examname}}</h3>
    
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <div>
                            Assigned Copies : <strong>{{dashboard.scanningassignment[0].assignedcopies}}</strong>
                            <br/> Scanned Copies : <strong>{{dashboard.scanningassignment[0].scannedcopies}}</strong>
                        </div>
                    </div>
                    <div class="stats">
                            <a [routerLink]="['../scandocument', dashboard.examcode]" class="btn btn-success" >Start Scanning</a>
    
                    </div>
    
                </div>
            </div>
        </div>
    </div>

