

<app-subject-menu></app-subject-menu>
<br>
<div class="container-fluid" style="margin:auto;width:80%">
<table class="table table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th>Subject Code</th>
      <th>Subject Name</th>
      <th>Subject Class</th>
      <th>Examination Year</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let subject of Subjects">

      <td>{{subject.subjectcode}}</td>
      <td>{{subject.subjectname}}</td>
      <td>{{subject.subjectclass}}</td>
      <td>{{subject.examyear}}</td>
      <td style="text-align:center">
        <a [routerLink]="['../edit-subject', 'EDIT', subject.subjectcode]"><i class="fa fa-edit"></i></a>
      </td>
    </tr>
  </tbody>
</table>
</div>