<div>
  <a [routerLink]="['../edit-subject', 'NEW', '0']">Add New Subject</a>
</div>
<br>
<table class="table table table-hover table-striped">
    <thead>
      <tr>
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th>Subject Class</th>
        <th>Examination Year</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let subject of Subjects">
        
        <td>{{subject.subjectcode}}</td>
        <td>{{subject.subjectname}}</td>
        <td>{{subject.subjectclass}}</td>
        <td>{{subject.examyear}}</td>
        <td> <a [routerLink]="['../edit-subject', 'EDIT', subject.subjectcode]">Edit Subject</a></td>
        
       
       
        
      </tr>
    </tbody>
  </table>