

<app-exam-menu></app-exam-menu>
<div class="container-fluid" style="margin-top:10px">
<table class="table table table-hover table-striped">
  <thead>
    <tr>
      <th>Exam Code</th>
      <th>Subject Code</th>
      <th>Exam Name</th>
      <th>Exam Date</th>
      <th>Result Date</th>
      <th>Number of Copies</th>
      <th>Scanned Copies</th>
      <th>Evaluated Copies</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let exam of Exams">
      <td>{{exam.examcode}}</td>
      <td>{{exam.subjectcode}}</td>
      <td>{{exam.examname}}</td>
      <td>{{exam.examdate}}</td>
      <td>{{exam.resultdate}}</td>
      <td>{{exam.numberofcopies}}</td>
      <td>{{exam.totalscannedcopies}}</td>
      <td>{{exam.totalevaluatedcopies}}</td>
      <td style="text-align:center">
        <a [routerLink]="['../edit-exam', 'EDIT', exam.examcode]">View / Edit</a>
      </td>




    </tr>
  </tbody>
</table>
</div>