<div class="row" style="height:100vh; margin:auto;">
    <div class="col col-lg-8 col-md-6 col-sm-12" style="margin: auto !important;">
        <img width="90%" src="/assets/images/banner.png">
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-12"  style="margin: auto !important;">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="signIn()">

                    <div style="text-align: center;">
                        <img style="width:200px;height:200px;" src="/assets/images/logo.png"><br>
                        <!-- <img src="/assets/images/PNG_Text_Digital Evaluation System.png"><br> -->

                    </div>

                    <div class="form-group">
                        <mat-form-field>
                            <input type="text" matInput formControlName="username" placeholder="User Name" required>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <input type="password" matInput formControlName="password" placeholder="Password" required>
                        </mat-form-field>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <button [disabled]="loading" class="btn btn-success">Login</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
    
