<alert></alert>
<mat-card class="des-mat-card mat-elevation-z8 ">
    <mat-card-title-group>
        <div style="width:100%">
            <div class="card-title">
                Allocate New Examination Paper Setting to Teachers/Professors/Lecturers
            </div>
        </div>
    </mat-card-title-group>
</mat-card>
<mat-card class="des-mat-card mat-elevation-z8">

    <mat-card-content>
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle  class="mat-elevation-z8" style="margin-bottom:5px;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Examination List
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Exam Code</th>
                            <th>Subject Code</th>
                            <th>Exam Name</th>
                            <th>Exam Date</th>
                            <th>Result Date</th>
                            <th style="text-align:center">Paper Setting Status</th>
                            <th style="text-align:center">Allocate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let exam of Exams">
                            <td>{{exam.examcode}}</td>
                            <td>{{exam.subjectcode}}</td>
                            <td>{{exam.examname}}</td>
                            <td>{{exam.examdate}}</td>
                            <td>{{exam.resultdate}}</td>
                            <td style="text-align:center">
                                <a (click)="viewAllocation(exam.examcode)" class="icon-green">View</a>
                            </td>
                            <td style="text-align:center">
                                <a (click)="selectExam(exam.examcode)" class="icon-green">Allocate</a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle  class="mat-elevation-z8"  style="margin-bottom:5px;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Allocate Examination :
                        <strong> {{(selectedExam ? selectedExam.examname :"")}}</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-selection-list #users [(ngModel)]="selectedUsers" (ngModelChange)="onNgModelChange($event)">
                    <div [hidden]="(Users && Users.length > 0)" class="no-data">
                        No evaluators available. Evaluator's list must be created by Admin.
                    </div>
                    <div style="width:400px;">
                        <mat-list-option *ngFor="let user of Users" [value]="user.username">
                            <span>{{user.name}}</span>
                        </mat-list-option>
                    </div>
                </mat-selection-list>

                <mat-action-row>
                    <div class="row">
                        <div class="col col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="Taget Date"
                                    [(ngModel)]="targetdate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-6">
                            <button mat-button class="btn btn-success" (click)="allocate()">Allocate</button>
                        </div>
                    </div>
                </mat-action-row>


            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle  class="mat-elevation-z8">

                <mat-expansion-panel-header>
                    <mat-panel-title>
                        View Allocations &nbsp;
                        <strong> {{(selectedExam ? selectedExam.examname :"")}}</strong>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="selectedExam && (!selectedExam.paperallocation || selectedExam.paperallocation.length == 0)"
                    class="no-data">
                    No evaluators are allocated for paper setting. Please click on "Allocate" from Examination List.
                </div>
                

                    <table class="table table-bordered table-hover table-striped" *ngIf="selectedExam && selectedExam.paperallocation && selectedExam.paperallocation.length >0">
                        <tr>
                            <th>Name</th>
                            <th>Paper Upload Status</th>
                            <th>View Paper</th>
                            <th>Approve</th>
                        </tr>

                        <tr *ngFor="let allocation of selectedExam.paperallocation">
                            <td>{{allocation.username}}</td>
                            <td>{{(allocation.status =="U" ? "Uploaded" : "Pending")}}</td>
                            <td>
                                <a class="icon-green" (click)="downloadPaper(allocation.username)">
                                    {{(allocation.upload_location == "" ? "-" : "View/Download")}}
                                </a>
                            </td>
                            <td>
                                <span [hidden]="!allocation.approved || allocation.approved!='Y'">Approved</span>
                                <a [hidden]="allocation.approved && allocation.approved=='Y'" class="icon-green"
                                    (click)="approvePaper(allocation.username)">{{(allocation.upload_location == "" ? "-" : "Approve")}}</a>
                            </td>
                        </tr>
                    </table>

                
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>