<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened style="width: 200px;" [fixedInViewport]="true" [fixedTopGap]="70">
        <app-sa-menu></app-sa-menu>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- 
<div class="wrapper">
    <button mat-button (click)="sidenav.toggle()">Toggle</button>-->
    <!-- <mat-sidenav-container>

        <mat-sidenav #sidenav mode="side" opened style="width: 200px;" [fixedInViewport]="true" [fixedTopGap]="70">
            
        </mat-sidenav>

        <mat-sidenav-content class="main-panel">
            <app-header></app-header>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>  -->

<app-header  [inputSideNav]="sideNav"></app-header>
<mat-sidenav-container>

    <mat-sidenav #sideNav  mode="side" opened style="width:200px; ">
        <mat-divider></mat-divider>
        <app-sa-menu></app-sa-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
